{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <style>
    </style>
    <!-- ---------------------------- CSS BLOCK ----------------------------- -->
    {% block css %} {% endblock %}
</head>

<body>
    <!-- ---------------------------- BODY BLOCK ----------------------------- -->

    <!-- Navbar -->
    <div class="navbar  " id="navbar">
        <a href="#"><img width="80rem" src="{% static 'images/finvizer.svg' %}" alt=""></a>
        <a href="#" class="active">Home</a>
        <a href="#">FinCalc</a>
        <a href="#">DebtManager</a>
        <a href="#">Saving Sprint</a>
        <a href="javascript:void(0);" class="icon" onclick="toggleNavbar()">
            &#9776;
        </a>
        <a class="anchor-btn" href="#">Login</a>
        <a class="anchor-btn" href="#">Get Started</a>
    </div>

    <!-- Content -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    {% block body %}

    {% endblock %}

    <!-- ---------------------------- SCRIPT BLOCK ----------------------------- -->
    {% block script %} {% endblock %}

    <!-- JavaScript to toggle responsive navbar -->
    <script>
        function toggleNavbar() {
            var x = document.getElementById("navbar");
            if (x.className === "navbar") {
                x.className += " responsive";
            } else {
                x.className = "navbar";
            }
        }
    </script>
</body>

</html>